<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>551434588568-oocfbt55bl503bc9gffqakduskvjtmvq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551434588568-oocfbt55bl503bc9gffqakduskvjtmvq</string>
	<key>API_KEY</key>
	<string>AIzaSyCS_mmy_D2D-0qU6hdMNmhYbdYbXw-DPJo</string>
	<key>GCM_SENDER_ID</key>
	<string>551434588568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.valjapan.RamenApp</string>
	<key>PROJECT_ID</key>
	<string>ramenoishii-e6deb</string>
	<key>STORAGE_BUCKET</key>
	<string>ramenoishii-e6deb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551434588568:ios:29f4dccb7d862ceb</string>
	<key>DATABASE_URL</key>
	<string>https://ramenoishii-e6deb.firebaseio.com</string>
</dict>
</plist>